[submodule "addons/enterprise"]
	path = addons/enterprise
	url = git@github.com:Aselcis-Consulting/enterprise.git
	branch = 12.0
[submodule "addons/OCA/l10n-spain"]
	path = addons/OCA/l10n-spain
	url = https://github.com/OCA/l10n-spain.git
	branch = 12.0
[submodule "addons/OCA/account-financial-tools"]
	path = addons/OCA/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 12.0
[submodule "addons/OCA/credit-control"]
	path = addons/OCA/credit-control
	url = https://github.com/OCA/credit-control.git
	branch = 12.0
[submodule "addons/OCA/server-ux"]
	path = addons/OCA/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 12.0
[submodule "addons/OCA/sale-workflow"]
	path = addons/OCA/sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 12.0
[submodule "addons/OCA/purchase-workflow"]
	path = addons/OCA/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 12.0
